<a href="https://colab.research.google.com/github/lorenaheringer/Python-Aplicado-Intelig-ncia-Artifical/blob/main/Python_e_Inteligencia_Artificial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
amigos = 6
aluguel = 1000
supermercado = 500
carro = 400

In [2]:
type(aluguel)

int

In [3]:
total_carros = carro*2

In [4]:
print(total_carros)

800

In [5]:
total = aluguel + supermercado + total_carros

In [6]:
total_por_pessoa = total / amigos

In [7]:
type(total_por_pessoa)

float

In [8]:
produto1 = "macarrao"
produto2 = "arroz"

In [9]:
type(produto1)

str

In [10]:
pedro_possui_cnh = True
mario_possui_cnh = False

In [11]:
type(mario_possui_cnh)

bool

inicial: "Fabricio CARRaro da    Alura  "<br>
Final: "FABRICIO CARRARO DA ALURA"

---

In [12]:
texto = "  Fabricio CARRaro   da alura  "

In [13]:
print(texto)

  Fabricio CARRaro   da alura

In [14]:
texto.lower()

'  fabricio carraro   da alura  '

In [15]:
print(texto.upper())

  FABRICIO CARRARO   DA ALURA

In [16]:
print(texto.strip())

Fabricio CARRaro   da alura

In [17]:
print(texto.replace("   ", " "))

  Fabricio CARRaro da alura

In [18]:
print(texto.strip().upper().replace("   ", " "))

FABRICIO CARRARO DA ALURA

In [19]:
texto = texto.strip().upper().replace("   ", " ")
print(texto)

FABRICIO CARRARO DA ALURA

In [20]:
input("Digite o seu nome: ")

Digite o seu nome: dfvdfgdf

'dfvdfgdf'

In [21]:
nome = input("Digite o seu nome: ")

Digite o seu nome: dfgdfgd

In [22]:
print(nome)

dfgdfgd

In [23]:
idade = input("Digite a sua idade: ")

Digite a sua idade: 12

In [24]:
print(idade)

12

In [25]:
type(idade)

str

In [26]:
type(nome)

str

In [27]:
idade = int(idade)

In [28]:
type(idade)

int

In [29]:
print("A pessoa se chama "+ str(nome) + " e tem "+ str(idade) + " anos de idade.")

A pessoa se chama dfgdfgd e tem 12 anos de idade.

In [30]:
print(f"A pessoa se chama {nome} e tem {idade} anos de idade.")

A pessoa se chama dfgdfgd e tem 12 anos de idade.

Estruturas Condicionais

In [31]:
nome = input("Digite o seu nome:")

Digite o seu nome:dfgdfg

In [32]:
idade = int(input("Digite a sua idade: "))

Digite a sua idade: 12

In [33]:
type(idade)

int

In [34]:
if idade >= 18:
  print(f"{nome} está autorizado(a) a entrar na festa.")
  print(f"Ele(a) tem {idade} anos de idade.")
else:
  print(f"{nome} não está autorizado(a) a entrar na festa.")
  print(f"Ele(a) tem {idade} anos de idade.")

dfgdfg não está autorizado(a) a entrar na festa.
Ele(a) tem 12 anos de idade.

In [35]:
media = float(input("Digite a sua média:"))

if media >= 7.0:
  print("Aprovado!")
elif media >= 5.0:
  print("Recuperação!")
else:
  print("Reprovado!")

Digite a sua média:12
Aprovado!

Rodando a sua IA no Google Colab

In [36]:
import os
from google.colab import userdata

os.environ["GOOGLE_API_KEY"] = userdata.get('GEMINI_API_KEY')

In [179]:
from google import genai

client = genai.Client()

In [38]:
resposta = client.models.generate_content(model="gemini-2.5-flash", contents="O que é a inteligência Artificial?")

In [39]:
print(resposta.text)

A **Inteligência Artificial (IA)** é um campo da ciência da computação que se dedica à criação de sistemas e programas capazes de simular ou imitar a inteligência humana. Em outras palavras, é a capacidade de máquinas realizarem tarefas que, tradicionalmente, exigiriam inteligência humana, como aprender, raciocinar, resolver problemas, perceber o ambiente, compreender a linguagem e tomar decisões.

### Componentes Chave e Capacidades da IA:

1.  **Aprendizado (Machine Learning - ML):** É a capacidade da IA de aprender com dados, identificar padrões e tomar decisões sem ser explicitamente programada para cada cenário. Em vez de seguir um conjunto rígido de regras, os sistemas de ML são "treinados" com grandes volumes de dados para melhorar seu desempenho ao longo do tempo.
    *   **Aprendizado Profundo (Deep Learning - DL):** Uma subárea do Machine Learning que utiliza redes neurais artificiais com múltiplas camadas (inspiradas no cérebro humano) para aprender representações de dados com vários níveis de abstração. É especialmente eficaz para tarefas complexas como reconhecimento de imagem e fala.

2.  **Raciocínio e Resolução de Problemas:** A IA pode processar informações, aplicar lógica e encontrar soluções para problemas complexos, desde jogar xadrez até planejar rotas logísticas.

3.  **Percepção:** Envolve a capacidade de interpretar informações sensoriais do mundo, como:
    *   **Visão Computacional (Computer Vision):** Capacidade de máquinas "verem" e interpretarem imagens e vídeos (reconhecimento facial, detecção de objetos).
    *   **Processamento de Linguagem Natural (Natural Language Processing - NLP):** Capacidade de máquinas entenderem, interpretarem e gerarem linguagem humana (tradutores automáticos, assistentes de voz, chatbots).
    *   **Reconhecimento de Fala (Speech Recognition):** Transcrever a fala humana em texto.

4.  **Tomada de Decisão:** Baseada em análises de dados e algoritmos, a IA pode recomendar ou tomar decisões, otimizando processos ou resultados.

### Tipos de Inteligência Artificial:

Geralmente, a IA é categorizada em três níveis, embora apenas o primeiro seja uma realidade atualmente:

1.  **IA Fraca ou Estreita (Narrow AI / Weak AI):** É o tipo de IA que existe hoje. É projetada e treinada para uma tarefa específica.
    *   **Exemplos:** Assistentes virtuais (Siri, Alexa), sistemas de recomendação (Netflix, Amazon), filtros de spam, carros autônomos, programas de xadrez (Deep Blue).

2.  **IA Geral (General AI / Strong AI):** Uma IA hipotética com a capacidade de entender, aprender e aplicar inteligência em qualquer tarefa intelectual que um ser humano possa fazer. Teria consciência, autoconsciência e a capacidade de resolver problemas em múltiplos domínios, não apenas em um. Ainda não existe.

3.  **Superinteligência Artificial (Artificial Superintelligence - ASI):** Uma IA hipotética que não só pode replicar a inteligência humana, mas superá-la em todos os aspectos, incluindo criatividade, resolução de problemas e habilidades sociais. Ainda está no reino da ficção científica.

### Onde a IA é Utilizada?

A IA já está integrada em muitos aspectos do nosso dia a dia e é utilizada em diversas indústrias:

*   **Saúde:** Diagnóstico de doenças, descoberta de medicamentos, cirurgias assistidas por robôs.
*   **Finanças:** Detecção de fraudes, negociação algorítmica, análise de risco.
*   **Transporte:** Carros autônomos, otimização de rotas, controle de tráfego.
*   **Varejo:** Recomendações personalizadas, chatbots para atendimento ao cliente, otimização de estoque.
*   **Educação:** Plataformas de aprendizado adaptativo, tutores virtuais.
*   **Entretenimento:** Geração de conteúdo, recomendações de filmes/músicas.
*   **Manufatura:** Robôs em linhas de produção, controle de qualidade.
*   **Serviços Públicos:** Cidades inteligentes, otimização de recursos.

### Em Resumo:

A Inteligência Artificial é uma ferramenta poderosa que busca replicar e, eventualmente, estender as capacidades da inteligência humana em máquinas. Ela está transformando indústrias, mudando a forma como interagimos com a tecnologia e oferecendo soluções para problemas complexos, com um potencial ainda maior a ser explorado no futuro.

In [40]:
chat = client.chats.create(model="gemini-2.5-flash")

In [41]:
resposta = chat.send_message("O que é IA?")

In [42]:
print(resposta.text)

**IA** significa **Inteligência Artificial**.

É um campo da ciência da computação que se dedica a criar máquinas e sistemas capazes de simular e, em alguns casos, superar a inteligência humana em tarefas específicas. O objetivo principal da IA é permitir que computadores realizem funções cognitivas que normalmente associamos à mente humana, como:

1.  **Aprender:** Adquirir conhecimento a partir de dados e experiência, sem serem explicitamente programados para cada cenário.
2.  **Raciocinar:** Usar lógica e regras para tirar conclusões e tomar decisões.
3.  **Resolver Problemas:** Encontrar soluções para desafios complexos.
4.  **Perceber:** Processar informações sensoriais (visão, fala, etc.) do ambiente.
5.  **Compreender a Linguagem:** Entender e gerar linguagem natural (fala e texto).
6.  **Reconhecer Padrões:** Identificar tendências e anomalias em grandes volumes de dados.

**Como a IA funciona (em termos gerais):**

A IA se baseia em algoritmos e modelos matemáticos que são "treinados" com grandes quantidades de dados. Durante o treinamento, a máquina aprende a identificar padrões, fazer previsões ou tomar ações específicas. As abordagens mais comuns incluem:

*   **Machine Learning (Aprendizado de Máquina):** É o principal motor da IA hoje. Consiste em algoritmos que permitem que os sistemas aprendam com os dados, identifiquem padrões e tomem decisões com o mínimo de intervenção humana.
*   **Deep Learning (Aprendizado Profundo):** Uma subárea do Machine Learning que utiliza redes neurais artificiais com muitas camadas (daí o "profundo"), inspiradas no cérebro humano, para processar dados de forma mais complexa e aprender características abstratas.
*   **Processamento de Linguagem Natural (PLN):** Permite que computadores entendam, interpretem e gerem a linguagem humana.
*   **Visão Computacional:** Capacita computadores a "ver" e interpretar imagens e vídeos.

**Onde encontramos a IA no dia a dia?**

A IA está presente em diversas aplicações que usamos diariamente:

*   **Assistentes Virtuais:** Siri, Alexa, Google Assistant.
*   **Sistemas de Recomendação:** Netflix, Amazon, Spotify (sugerindo filmes, produtos, músicas).
*   **Filtros de Spam:** Identificando e bloqueando e-mails indesejados.
*   **Reconhecimento Facial:** Para desbloquear celulares ou em sistemas de segurança.
*   **Carros Autônomos:** Sistemas de navegação e direção inteligente.
*   **Tradução Automática:** Google Translate.
*   **Diagnóstico Médico:** Auxiliando médicos a identificar doenças a partir de imagens ou dados.
*   **Detecção de Fraudes:** Em transações financeiras.

Em resumo, a IA é a ciência de criar máquinas que podem pensar e agir de forma inteligente, revolucionando a maneira como vivemos e trabalhamos.

In [43]:
resposta = chat.send_message("Quando foi lancado o chatgpt?")
print(resposta.text)

O ChatGPT foi lançado publicamente em **30 de novembro de 2022**.

Foi uma "prévia de pesquisa" (research preview) lançada pela OpenAI, e rapidamente ganhou enorme popularidade devido à sua capacidade de gerar texto coerente e relevante em uma vasta gama de tópicos e interagir de forma conversacional.

In [44]:
chat.get_history()

[UserContent(
   parts=[
     Part(
       text='O que é IA?'
     ),
   ],
   role='user'
 ),
 Content(
   parts=[
     Part(
       text="""**IA** significa **Inteligência Artificial**.

 É um campo da ciência da computação que se dedica a criar máquinas e sistemas capazes de simular e, em alguns casos, superar a inteligência humana em tarefas específicas. O objetivo principal da IA é permitir que computadores realizem funções cognitivas que normalmente associamos à mente humana, como:

 1.  **Aprender:** Adquirir conhecimento a partir de dados e experiência, sem serem explicitamente programados para cada cenário.
 2.  **Raciocinar:** Usar lógica e regras para tirar conclusões e tomar decisões.
 3.  **Resolver Problemas:** Encontrar soluções para desafios complexos.
 4.  **Perceber:** Processar informações sensoriais (visão, fala, etc.) do ambiente.
 5.  **Compreender a Linguagem:** Entender e gerar linguagem natural (fala e texto).
 6.  **Reconhecer Padrões:** Identificar tendências e anomalias em grandes volumes de dados.

 **Como a IA funciona (em termos gerais):**

 A IA se baseia em algoritmos e modelos matemáticos que são "treinados" com grandes quantidades de dados. Durante o treinamento, a máquina aprende a identificar padrões, fazer previsões ou tomar ações específicas. As abordagens mais comuns incluem:

 *   **Machine Learning (Aprendizado de Máquina):** É o principal motor da IA hoje. Consiste em algoritmos que permitem que os sistemas aprendam com os dados, identifiquem padrões e tomem decisões com o mínimo de intervenção humana.
 *   **Deep Learning (Aprendizado Profundo):** Uma subárea do Machine Learning que utiliza redes neurais artificiais com muitas camadas (daí o "profundo"), inspiradas no cérebro humano, para processar dados de forma mais complexa e aprender características abstratas.
 *   **Processamento de Linguagem Natural (PLN):** Permite que computadores entendam, interpretem e gerem a linguagem humana.
 *   **Visão Computacional:** Capacita computadores a "ver" e interpretar imagens e vídeos.

 **Onde encontramos a IA no dia a dia?**

 A IA está presente em diversas aplicações que usamos diariamente:

 *   **Assistentes Virtuais:** Siri, Alexa, Google Assistant.
 *   **Sistemas de Recomendação:** Netflix, Amazon, Spotify (sugerindo filmes, produtos, músicas).
 *   **Filtros de Spam:** Identificando e bloqueando e-mails indesejados.
 *   **Reconhecimento Facial:** Para desbloquear celulares ou em sistemas de segurança.
 *   **Carros Autônomos:** Sistemas de navegação e direção inteligente.
 *   **Tradução Automática:** Google Translate.
 *   **Diagnóstico Médico:** Auxiliando médicos a identificar doenças a partir de imagens ou dados.
 *   **Detecção de Fraudes:** Em transações financeiras.

 Em resumo, a IA é a ciência de criar máquinas que podem pensar e agir de forma inteligente, revolucionando a maneira como vivemos e trabalhamos."""
     ),
   ],
   role='model'
 ),
 UserContent(
   parts=[
     Part(
       text='Quando foi lancado o chatgpt?'
     ),
   ],
   role='user'
 ),
 Content(
   parts=[
     Part(
       text="""O ChatGPT foi lançado publicamente em **30 de novembro de 2022**.

 Foi uma "prévia de pesquisa" (research preview) lançada pela OpenAI, e rapidamente ganhou enorme popularidade devido à sua capacidade de gerar texto coerente e relevante em uma vasta gama de tópicos e interagir de forma conversacional."""
     ),
   ],
   role='model'
 )]

In [45]:
prompt = input("Digite a sua pergunta: ")

while prompt != "fim":
  resposta = chat.send_message(prompt)
  print(resposta.text)
  print("\n")
  prompt = input("Digite a sua pergunta ou digite 'fim' para encerrar a pesquisa: ")

Digite a sua pergunta: fim

# Estruturas de Dados

Listas

In [46]:
lista_de_nome = ["Maria Silva", "Joao Santos", "Ana Oliveira", "Pedro Costa", "Juliana Pereira"]
#                      0              1              2               3               4

In [47]:
print(lista_de_nome[3])

Pedro Costa

In [48]:
lista_de_medias = [8.9, 7.5, 4.2, 1.4, 9.5]

In [49]:
print(lista_de_medias[3])

1.4

Desafio: crie um código que percorra a lista de médias e some 1 a cada valor, exceto quando o valor ultrapassar 10, sendo o valor máximo.

In [50]:
n = 0

while n < 5:
  lista_de_medias[n] = lista_de_medias[n] + 1.0
  if lista_de_medias[n] > 10.0:
    lista_de_medias[n] = 10.0
  n = n + 1

print(lista_de_medias)

[9.9, 8.5, 5.2, 2.4, 10.0]

In [51]:
len(lista_de_medias)

5

In [52]:
n = 0

while n < len(lista_de_medias):
  lista_de_medias[n] = lista_de_medias[n] + 1.0
  if lista_de_medias[n] > 10.0:
    lista_de_medias[n] = 10.0
  n = n + 1

print(lista_de_medias)

[10.0, 9.5, 6.2, 3.4, 10.0]

In [53]:
lista_de_medias[len(lista_de_medias) - 1]

10.0

Particionando uma lista

In [54]:
lista_de_nome

['Maria Silva',
 'Joao Santos',
 'Ana Oliveira',
 'Pedro Costa',
 'Juliana Pereira']

In [55]:
lista_de_nome[1:3]

['Joao Santos', 'Ana Oliveira']

In [56]:
lista_de_nome[1:4]

['Joao Santos', 'Ana Oliveira', 'Pedro Costa']

In [57]:
lista_de_nome[:4]

['Maria Silva', 'Joao Santos', 'Ana Oliveira', 'Pedro Costa']

In [58]:
lista_de_nome.append("Fabio Carraro")

In [59]:
lista_de_nome

['Maria Silva',
 'Joao Santos',
 'Ana Oliveira',
 'Pedro Costa',
 'Juliana Pereira',
 'Fabio Carraro']

In [60]:
lista_de_nome.extend(["Joana da Silva", "Paulo Silveira"])

In [61]:
lista_de_nome

['Maria Silva',
 'Joao Santos',
 'Ana Oliveira',
 'Pedro Costa',
 'Juliana Pereira',
 'Fabio Carraro',
 'Joana da Silva',
 'Paulo Silveira']

In [62]:
lista_de_nome.append(["Marcio Costa", "Natalia Pedreira"])

In [63]:
lista_de_nome

['Maria Silva',
 'Joao Santos',
 'Ana Oliveira',
 'Pedro Costa',
 'Juliana Pereira',
 'Fabio Carraro',
 'Joana da Silva',
 'Paulo Silveira',
 ['Marcio Costa', 'Natalia Pedreira']]

In [64]:
lista_de_nome[8][0]

'Marcio Costa'

In [65]:
lista_de_nome.remove("Paulo Silveira")

In [66]:
lista_de_nome.pop()

['Marcio Costa', 'Natalia Pedreira']

In [67]:
lista_de_nome.pop(2)

'Ana Oliveira'

Dicionarios<br>"chave".valor

In [68]:
lista_de_nome = ["Maria Silva", "Joao Santos", "Ana Oliveira", "Pedro Costa", "Juliana Pereira"]
lista_de_medias = [8.9, 7.5, 4.2, 1.4, 9.5]

In [69]:
dict_de_nomes_e_medias = {"Maria Silva":8.9, "Joao Santos":7.5, "Ana Oliveira":4.2, "Pedro Costa":1.4, "Juliana Pereira":9.5}

In [70]:
dict_de_nomes_e_medias["Maria Silva"]

8.9

In [71]:
dict_de_nomes_e_medias.get("Maria Silva")

8.9

In [72]:
dict_de_nomes_e_medias.pop("Juliana Pereira")

9.5

In [73]:
dict_de_nomes_e_medias.items()

dict_items([('Maria Silva', 8.9), ('Joao Santos', 7.5), ('Ana Oliveira', 4.2), ('Pedro Costa', 1.4)])

In [74]:
dict_de_nomes_e_medias.keys()

dict_keys(['Maria Silva', 'Joao Santos', 'Ana Oliveira', 'Pedro Costa'])

In [75]:
dict_de_nomes_e_medias.values()

dict_values([8.9, 7.5, 4.2, 1.4])

Desafio: usar dicionarios de forma que as chaves sejam "nome" e "nota", e os valores, sejam os dados dos alunos.

In [76]:
dict_desafio = [
    {"Nome": "Maria Silva", "média": 8.9},
    {"Nome": "Joao Santos", "média": 7.5},
    {"Nome": "Ana Oliveira", "média": 4.2},
    {"Nome": "Pedro Costa", "média": 1.4}
]

In [77]:
dict_desafio[0]["média"]

8.9

Estrutura de repetição, loop: "for"

In [78]:
dict_desafio = [
    {"Nome": "Maria Silva", "média": 8.9},
    {"Nome": "Joao Santos", "média": 7.5},
    {"Nome": "Ana Oliveira", "média": 4.2},
    {"Nome": "Pedro Costa", "média": 1.4}
]

In [79]:
n = 0

while n < len(dict_desafio):
  print(dict_desafio[n])
  n += 1

{'Nome': 'Maria Silva', 'média': 8.9}
{'Nome': 'Joao Santos', 'média': 7.5}
{'Nome': 'Ana Oliveira', 'média': 4.2}
{'Nome': 'Pedro Costa', 'média': 1.4}

In [80]:
for elemento in dict_desafio:
  print(elemento)

{'Nome': 'Maria Silva', 'média': 8.9}
{'Nome': 'Joao Santos', 'média': 7.5}
{'Nome': 'Ana Oliveira', 'média': 4.2}
{'Nome': 'Pedro Costa', 'média': 1.4}

In [81]:
for n in range(5):
  print(n)

0
1
2
3
4

In [82]:
for n in range(2,7):
  print(n)

2
3
4
5
6

In [83]:
for n in range(2,7,2):
  print(n)

2
4
6

In [84]:
pessoa = {
    "nome": "Fabricio",
    "idade": 33,
    "altura": 1.87
}

print(pessoa)

{'nome': 'Fabricio', 'idade': 33, 'altura': 1.87}

In [85]:
for chave in pessoa:
  print(chave)

nome
idade
altura

In [86]:
for chave, valor in pessoa.items():
  print(f"A chave é {chave} e o valor é {valor}.")

A chave é nome e o valor é Fabricio.
A chave é idade e o valor é 33.
A chave é altura e o valor é 1.87.

In [87]:
for n in range(11):
  if n % 2 == 0:
    print(n)

0
2
4
6
8
10

In [88]:
for n in range(11):
  if n % 3 == 0:
    print(n)

0
3
6
9

FUNÇÕES: usada para salvar em uma variável uma comando independente e reutilizável que, ao ser chamado pelo seu nome de variável, executa sua atividade. Pode ser invocado em qualquer linha do código.

In [89]:
texto1 = "  Fabricio CARRaro   da alura  "

In [90]:
texto2 = "  mAria  SILVa  "

In [91]:
texto3 = "   jOao   SANtos  "

In [92]:
texto4 = "anA  oLIveiRA  "

In [93]:
texto5 = "  pEdrO    COsta "

In [94]:
texto6 = "   julIAnA   perEIra  "

In [95]:
def escreve_texto_corretamente(texto):
  texto_novo = texto.upper()
  lista_de_palavras = texto_novo.split()
  nome_final = " ".join(lista_de_palavras)
  return nome_final

In [96]:
def escreve_texto_corretamente_alternativa(texto):
  print(" ".join(texto.upper().split()))

In [97]:
escreve_texto_corretamente_alternativa(texto1)

FABRICIO CARRARO DA ALURA

In [98]:
salas_aula = ["sala 1", "sala 2", "sala 3"]

In [99]:
import random

def aloca_alunos_em_classes(nome_aluno, lista_salas):
  sala_aluno = random.choice(lista_salas)

  dict_aluno = {
      "nome": nome_aluno,
      "sala": sala_aluno
  }

  print(dict_aluno)

In [100]:
aloca_alunos_em_classes(texto1, salas_aula)

{'nome': '  Fabricio CARRaro   da alura  ', 'sala': 'sala 2'}

In [101]:
nome_final = escreve_texto_corretamente(texto1)
aloca_alunos_em_classes(nome_final, salas_aula)

{'nome': 'FABRICIO CARRARO DA ALURA', 'sala': 'sala 3'}

Desafio:
<br>
1. Pedir pra uma IA gerar em Python uma lista de 20 emails.
2. Criar uma função que recebe como parâmetro essa lista de emails, percorrendo-a e, para cada email da lista, ela chamará a IA do Gemini via API, e pedir para ela resumir para o usupario todos os emails em apenas 1 linha, definindo o que essa pessoa dizia no email.

In [102]:
email_bodies = [
    """Assunto: Relatório Mensal de Vendas
Prezados,

Segue em anexo o relatório de vendas do mês de [Mês].
Observamos um aumento de [X]% nas vendas online.

Detalhes sobre os produtos de maior destaque estão nas páginas 3-5.

Qualquer dúvida, estou à disposição.

Atenciosamente,
[Seu Nome]""",

    """Assunto: Lançamento de Novo Produto
Olá equipe de marketing,

Confirmamos o lançamento do produto '[Nome do Produto]' para [Data].
Por favor, preparem a campanha de divulgação.

Foco na inovação e nos benefícios para o cliente.

Vamos fazer um grande lançamento!

Att,
[Seu Nome]""",


    """Assunto: Convite para Webinar
Prezado(a) participante,

Convidamos você para nosso webinar exclusivo: '[Título do Webinar]'.
Será em [Data] às [Hora].

Aprenda sobre [Tópico Principal] com nossos especialistas.
Inscreva-se em: [Link de Inscrição].

Esperamos sua presença!
[Sua Empresa]""",


    """Assunto: Solicitação de Cotação
Olá [Nome do Fornecedor],

Gostaria de solicitar uma cotação para [Item/Serviço].
Precisamos de [Quantidade] unidades.

Anexo as especificações técnicas.

Por favor, envie-nos a cotação até [Data Limite].

Obrigado,
[Sua Empresa]""",


    """Assunto: Reunião de Alinhamento Semanal
Equipe,

Lembrete da nossa reunião de alinhamento semanal amanhã, [Dia da Semana], às [Hora].
Os principais tópicos serão [Tópico 1] e [Tópico 2].

Por favor, venham preparados para compartilhar seus progressos.

Até amanhã,
[Seu Nome]""",
]

In [103]:
def resumo_emails(lista_emails):
  lista_resumos = []

  for numero, email in enumerate(lista_emails):
    resposta = client.models.generate_content(
        model = "gemini-2.5-flash",
        contents = f"""Estou te enviando o corpo de um email. Quero qur você o resuma em apenas 1 linha,
        passando o intuito daquele email. Segue o email: {email}"""
        )
    print(f"E-mail {numero + 1}: {resposta.text}")
    lista_resumos.append(f"E-mail {numero + 1}: {resposta.text}")

  return lista_resumos

In [104]:
lista_resumos = resumo_emails(email_bodies)

E-mail 1: O e-mail apresenta o relatório mensal de vendas, com ênfase no aumento das vendas online e nos produtos de maior destaque.
E-mail 2: O email informa sobre o lançamento de um novo produto e instrui a equipe de marketing a planejar a campanha de divulgação, focando em inovação e benefícios para o cliente.
E-mail 3: Este email é um convite para um webinar exclusivo sobre [Tópico Principal], incentivando sua inscrição para aprender com especialistas.

ClientError: 429 RESOURCE_EXHAUSTED. {'error': {'code': 429, 'message': 'You exceeded your current quota, please check your plan and billing details. For more information on this error, head to: https://ai.google.dev/gemini-api/docs/rate-limits. To monitor your current usage, head to: https://ai.dev/rate-limit. \n* Quota exceeded for metric: generativelanguage.googleapis.com/generate_content_free_tier_requests, limit: 5, model: gemini-2.5-flash\nPlease retry in 19.238029583s.', 'status': 'RESOURCE_EXHAUSTED', 'details': [{'@type': 'type.googleapis.com/google.rpc.Help', 'links': [{'description': 'Learn more about Gemini API quotas', 'url': 'https://ai.google.dev/gemini-api/docs/rate-limits'}]}, {'@type': 'type.googleapis.com/google.rpc.QuotaFailure', 'violations': [{'quotaMetric': 'generativelanguage.googleapis.com/generate_content_free_tier_requests', 'quotaId': 'GenerateRequestsPerMinutePerProjectPerModel-FreeTier', 'quotaDimensions': {'location': 'global', 'model': 'gemini-2.5-flash'}, 'quotaValue': '5'}]}, {'@type': 'type.googleapis.com/google.rpc.RetryInfo', 'retryDelay': '19s'}]}}

In [105]:
lista_resumos

NameError: name 'lista_resumos' is not defined

In [106]:
!pip install -q groq

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 138.3/138.3 kB 3.5 MB/s eta 0:00:00

In [107]:
os.environ["GROQ_API_KEY"] = userdata.get("GROQ_API_KEY")

In [108]:
from groq import Groq

client = Groq()
completion = client.chat.completions.create(
    model="openai/gpt-oss-20b",
    messages=[
      {
        "role": "user",
        "content": "o que é IA?\n\n"
      }
    ],
    temperature=1,
    max_completion_tokens=8192,
    top_p=1,
    reasoning_effort="medium",
    stream=True,
    stop=None
)

for chunk in completion:
    print(chunk.choices[0].delta.content or "", end="")

**IA** (Inteligência Artificial) é a área da ciência da computação que busca criar sistemas capazes de executar tarefas que, normalmente, exigiriam inteligência humana. Essas tarefas incluem:

| Área | Exemplos de Aplicação | Como a IA funciona |
|------|----------------------|---------------------|
| **Aprendizado de Máquina (Machine Learning)** | Previsões de vendas, diagnóstico médico, recomendações de produtos | O algoritmo aprende padrões nos dados sem ser programado explicitamente para cada tarefa. |
| **Redes Neurais e Deep Learning** | Reconhecimento de voz, tradução automática, imagens médicas | Estruturas inspiradas no cérebro humano (neurônios e sinapses) são treinadas com grandes quantidades de dados. |
| **Processamento de Linguagem Natural (NLP)** | Assistentes virtuais (Siri, Alexa), chatbots, análise de sentimentos | Técnicas para entender e gerar linguagem humana, usando estatísticas e modelos probabilísticos. |
| **Visão Computacional** | Reconhecimento facial, detecção de objetos, carros autônomos | Algoritmos transformam sinais visuais (imagens, vídeos) em informações úteis. |
| **Robótica** | Robôs industriais, drones, robôs domésticos | Integração de sensores, atuadores e algoritmos de controle para realizar ações físicas. |

### Tipos de IA

1. **IA Fraca (Narrow AI)**
   - Projetada para executar tarefas específicas (ex.: reconhecimento facial, recomendação de filmes).
   - É a forma mais comum de IA que vemos hoje.

2. **IA Forte (Artificial General Intelligence, AGI)**
   - Habilidade de compreender, aprender e aplicar conhecimento em qualquer tarefa humana.
   - Ainda é teórica e objeto de debate ético e filosófico.

3. **IA Superinteligente**
   - Supera a inteligência humana em quase todos os domínios.
   - Risco e controle são questões cruciais.

### Por que a IA importa?

- **Automação e eficiência**: Substitui ou auxilia tarefas repetitivas.
- **Tomada de decisão baseada em dados**: Identifica padrões complexos que os humanos podem não perceber.
- **Inovação**: Cria novos produtos e serviços que antes eram impossíveis ou impraticáveis.

### Principais Desafios

- **Ética e privacidade**: Uso de dados pessoais, viés algorítmico.
- **Segurança**: Garantir que sistemas críticos não falhem ou sejam manipulados.
- **Transparência**: Explicar como decisões automatizadas são feitas.

Em resumo, **IA** é a disciplina que cria máquinas que imitam, em alguma medida, a capacidade humana de perceber, aprender, raciocinar e agir, transformando dados e padrões em decisões inteligentes.

Lendo e escrevendo em arquivos usando Python

In [ ]:
with open ("lista-de-resumos.txt", "w", encoding="utf-8") as arquivo:
  for elemento in lista_resumos:
    arquivo.write(elemento + "\n")

In [110]:
nova_lista_leitura = []

with open ("lista-de-resumos.txt", "r", encoding="utf-8") as arquivo:
  for linha in arquivo:
    nova_lista_leitura.append(linha.strip())

FileNotFoundError: [Errno 2] No such file or directory: 'lista-de-resumos.txt'

In [111]:
nova_lista_leitura

[]

In [112]:
conteudo = " "

with open ("lista-de-resumos.txt", "r", encoding="utf-8") as arquivo:
 conteudo = arquivo.read()

FileNotFoundError: [Errno 2] No such file or directory: 'lista-de-resumos.txt'

In [ ]:
conteudo

In [ ]:
nova_lista_leitura_2 = []

with open ("lista-de-resumos.txt", "r", encoding="utf-8") as arquivo:
  nova_lista_leitura_2 = arquivo.readlines()

In [ ]:
nova_lista_leitura_2

## Manipulando dados com Pandas

In [114]:
import pandas as pd

In [116]:
df = pd.read_csv("/content/meu_csv.csv")

FileNotFoundError: [Errno 2] No such file or directory: '/content/meu_csv.csv'

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df

Desafio:
1. Crie um arquivo .txt com uma lista de perguntas vindas em Python.
2. Ler as perguntas desse arquivo .txt.
3. Obter respostas de um LLm para cada uma.
4. Salvar os resultados em um novo arquivo .csv.
5. Ler o arquivo .csv usando Python.

In [ ]:
# Etapa 1
lista_de_perguntas = [
    "De que cor é a laranja?",
    "Qual é a capital do Brasil?",
    "Quem pintou a Mona Lisa?",
    "Onde está localizado o Google?",
    "Qual é a fórmula química da agua?"
]

with open ("lista-de-perguntas.txt", "w", encoding="utf-8") as arquivo:
  for pergunta in lista_de_perguntas:
    arquivo.write(pergunta + "\n")

In [ ]:
# Etapa 2:
lista_desafio = []

with open ("lista-de-perguntas.txt", "r", encoding="utf-8") as arquivo:
  for linha in arquivo:
    lista_desafio.append(linha.strip())

In [ ]:
print(lista_desafio)

In [ ]:
#Etapa 3:
lista_respostas = []

for pergunta in lista_desafio:
  resposta = client.models.generate_content(
      model = "gemini-2.5-flash",
      contents = f"""Gere uma resposta muito sucinta para a pergunta: {pergunta}"""
      )
  lista_respostas.append({"pergunta": pergunta, "resposta": resposta.text})

In [ ]:
lista_respostas

In [ ]:
import csv

# Etapa 4:

with open("respostas1.csv", "w", encoding="utf-8", newline='') as arquivo:
  writer = csv.writer(arquivo)
  writer.writerow(["pergunta", "resposta"])
  for pergunta_dict in lista_respostas:
    writer.writerow([pergunta_dict['pergunta'], pergunta_dict['resposta']])

In [ ]:
df_perguntas_e_respostas = pd.DataFrame(lista_respostas)

In [ ]:
df_perguntas_e_respostas

In [ ]:
df_perguntas_e_respostas.to_csv("respostas2.csv", index=False, encoding="utf-8")

In [ ]:
#Etapa 5:
novo_pd = pd.read_csv("respostas2.csv")

In [ ]:
novo_pd

In [118]:
import pandas as pd
import numpy as np

# Gerar dados fictícios

product_names = [f"Produto {i+1}" for i in range(50)]
categories = np.random.choice(["Eletrônicos", "Roupas", "Alimentos", "Livros", "Decoração"], 50)
prices = np.random.uniform(10.0, 500.0, 50).round(2)
ratings = np.random.uniform(1.0, 5.0, 50).round(1)
quantity_sold = np.random.randint(1, 1000, 50)

# Criar o DataFrame
df_produtos = pd.DataFrame({
    "Nome do Produto": product_names,
    "Categoria do Produto": categories,
    "Preço do Produto": prices,
    "Avaliação do Produto": ratings,
    "Quantidade de Itens Vendidos": quantity_sold
})
# Exibindo as primeiras linhas do DataFrame
display(df_produtos.head())

,Nome do Produto,Categoria do Produto,Preço do Produto,Avaliação do Produto,Quantidade de Itens Vendidos
0,Produto 1,Roupas,72.33,2.7,150
1,Produto 2,Roupas,382.80,3.3,723
2,Produto 3,Roupas,60.88,2.6,700
3,Produto 4,Decoração,424.95,4.8,141
4,Produto 5,Decoração,118.87,2.8,515

In [119]:
df_produtos

,Nome do Produto,Categoria do Produto,Preço do Produto,Avaliação do Produto,Quantidade de Itens Vendidos
0,Produto 1,Roupas,72.33,2.7,150
1,Produto 2,Roupas,382.80,3.3,723
2,Produto 3,Roupas,60.88,2.6,700
3,Produto 4,Decoração,424.95,4.8,141
4,Produto 5,Decoração,118.87,2.8,515
5,Produto 6,Roupas,149.97,3.0,610
6,Produto 7,Roupas,394.77,2.3,832
7,Produto 8,Livros,387.14,4.0,780
8,Produto 9,Livros,389.41,2.9,610
9,Produto 10,Eletrônicos,40.16,4.9,994
10,Produto 11,Roupas,440.79,3.1,746
11,Produto 12,Livros,496.39,2.9,441
12,Produto 13,Eletrônicos,428.83,4.6,519
13,Produto 14,Alimentos,480.42,4.6,471
14,Produto 15,Roupas,317.25,3.1,286
15,Produto 16,Eletrônicos,24.38,4.7,149
16,Produto 17,Decoração,399.62,2.3,357
17,Produto 18,Roupas,40.70,1.4,320
18,Produto 19,Alimentos,420.89,1.6,871
19,Produto 20,Roupas,399.12,1.1,998
20,Produto 21,Alimentos,323.25,1.9,310
21,Produto 22,Livros,406.54,1.8,739
22,Produto 23,Roupas,120.37,3.5,13
23,Produto 24,Roupas,251.14,2.1,320
24,Produto 25,Roupas,457.12,3.9,455
25,Produto 26,Alimentos,131.83,1.3,241
26,Produto 27,Roupas,196.74,4.0,294
27,Produto 28,Alimentos,142.79,1.4,477
28,Produto 29,Roupas,362.59,1.5,41
29,Produto 30,Livros,167.06,1.1,852
30,Produto 31,Alimentos,222.68,1.4,448
31,Produto 32,Alimentos,373.19,1.1,805
32,Produto 33,Alimentos,100.61,4.8,732
33,Produto 34,Decoração,30.50,2.0,687
34,Produto 35,Alimentos,297.31,4.1,729
35,Produto 36,Roupas,117.09,1.7,736
36,Produto 37,Decoração,59.06,5.0,563
37,Produto 38,Alimentos,268.98,1.9,713
38,Produto 39,Roupas,307.89,4.4,283
39,Produto 40,Alimentos,112.19,1.1,44
40,Produto 41,Roupas,214.63,2.0,194
41,Produto 42,Roupas,416.05,3.8,512
42,Produto 43,Alimentos,75.73,3.1,381
43,Produto 44,Eletrônicos,349.60,3.4,856
44,Produto 45,Alimentos,270.45,3.0,306
45,Produto 46,Livros,433.07,3.6,621
46,Produto 47,Decoração,172.01,2.2,264
47,Produto 48,Roupas,216.37,1.4,957
48,Produto 49,Decoração,463.76,2.0,262
49,Produto 50,Eletrônicos,349.95,2.3,34

In [120]:
df_produtos['Categoria do Produto']

0          Roupas
1          Roupas
2          Roupas
3       Decoração
4       Decoração
5          Roupas
6          Roupas
7          Livros
8          Livros
9     Eletrônicos
10         Roupas
11         Livros
12    Eletrônicos
13      Alimentos
14         Roupas
15    Eletrônicos
16      Decoração
17         Roupas
18      Alimentos
19         Roupas
20      Alimentos
21         Livros
22         Roupas
23         Roupas
24         Roupas
25      Alimentos
26         Roupas
27      Alimentos
28         Roupas
29         Livros
30      Alimentos
31      Alimentos
32      Alimentos
33      Decoração
34      Alimentos
35         Roupas
36      Decoração
37      Alimentos
38         Roupas
39      Alimentos
40         Roupas
41         Roupas
42      Alimentos
43    Eletrônicos
44      Alimentos
45         Livros
46      Decoração
47         Roupas
48      Decoração
49    Eletrônicos
Name: Categoria do Produto, dtype: object

In [121]:
df_produtos['Categoria do Produto'].unique()

array(['Roupas', 'Decoração', 'Livros', 'Eletrônicos', 'Alimentos'],
      dtype=object)

In [122]:
set(df_produtos['Categoria do Produto'])

{'Alimentos', 'Decoração', 'Eletrônicos', 'Livros', 'Roupas'}

## FIltrando elementos de um DataFrame Pandas

In [130]:
df_produtos[df_produtos["Categoria do Produto"] == "Eletrônicos"]

,Nome do Produto,Categoria do Produto,Preço do Produto,Avaliação do Produto,Quantidade de Itens Vendidos
9,Produto 10,Eletrônicos,40.16,4.9,994
12,Produto 13,Eletrônicos,428.83,4.6,519
15,Produto 16,Eletrônicos,24.38,4.7,149
43,Produto 44,Eletrônicos,349.60,3.4,856
49,Produto 50,Eletrônicos,349.95,2.3,34

In [131]:
df_produtos[df_produtos["Avaliação do Produto"] < 2.0]

,Nome do Produto,Categoria do Produto,Preço do Produto,Avaliação do Produto,Quantidade de Itens Vendidos
17,Produto 18,Roupas,40.70,1.4,320
18,Produto 19,Alimentos,420.89,1.6,871
19,Produto 20,Roupas,399.12,1.1,998
20,Produto 21,Alimentos,323.25,1.9,310
21,Produto 22,Livros,406.54,1.8,739
25,Produto 26,Alimentos,131.83,1.3,241
27,Produto 28,Alimentos,142.79,1.4,477
28,Produto 29,Roupas,362.59,1.5,41
29,Produto 30,Livros,167.06,1.1,852
30,Produto 31,Alimentos,222.68,1.4,448
31,Produto 32,Alimentos,373.19,1.1,805
35,Produto 36,Roupas,117.09,1.7,736
37,Produto 38,Alimentos,268.98,1.9,713
39,Produto 40,Alimentos,112.19,1.1,44
47,Produto 48,Roupas,216.37,1.4,957

In [132]:
df_produtos.shape

(50, 5)

In [133]:
df_produtos_filtro_avaliacao_menor_que_2 = df_produtos[df_produtos["Avaliação do Produto"] < 2.0]

In [134]:
df_produtos_filtro_avaliacao_menor_que_2

,Nome do Produto,Categoria do Produto,Preço do Produto,Avaliação do Produto,Quantidade de Itens Vendidos
17,Produto 18,Roupas,40.70,1.4,320
18,Produto 19,Alimentos,420.89,1.6,871
19,Produto 20,Roupas,399.12,1.1,998
20,Produto 21,Alimentos,323.25,1.9,310
21,Produto 22,Livros,406.54,1.8,739
25,Produto 26,Alimentos,131.83,1.3,241
27,Produto 28,Alimentos,142.79,1.4,477
28,Produto 29,Roupas,362.59,1.5,41
29,Produto 30,Livros,167.06,1.1,852
30,Produto 31,Alimentos,222.68,1.4,448
31,Produto 32,Alimentos,373.19,1.1,805
35,Produto 36,Roupas,117.09,1.7,736
37,Produto 38,Alimentos,268.98,1.9,713
39,Produto 40,Alimentos,112.19,1.1,44
47,Produto 48,Roupas,216.37,1.4,957

In [135]:
df_produtos_filtro_avaliacao_menor_que_2.shape

(15, 5)

In [136]:
df_produtos[(df_produtos["Categoria do Produto"] == "Eletrônicos") & (df_produtos["Preço do Produto"] >= 350.)]

,Nome do Produto,Categoria do Produto,Preço do Produto,Avaliação do Produto,Quantidade de Itens Vendidos
12,Produto 13,Eletrônicos,428.83,4.6,519

Métodos LOC e ILOC

In [138]:
df_produtos.iloc[15]

Nome do Produto                  Produto 16
Categoria do Produto            Eletrônicos
Preço do Produto                      24.38
Avaliação do Produto                    4.7
Quantidade de Itens Vendidos            149
Name: 15, dtype: object

In [139]:
df_produtos.iloc[:16]

,Nome do Produto,Categoria do Produto,Preço do Produto,Avaliação do Produto,Quantidade de Itens Vendidos
0,Produto 1,Roupas,72.33,2.7,150
1,Produto 2,Roupas,382.80,3.3,723
2,Produto 3,Roupas,60.88,2.6,700
3,Produto 4,Decoração,424.95,4.8,141
4,Produto 5,Decoração,118.87,2.8,515
5,Produto 6,Roupas,149.97,3.0,610
6,Produto 7,Roupas,394.77,2.3,832
7,Produto 8,Livros,387.14,4.0,780
8,Produto 9,Livros,389.41,2.9,610
9,Produto 10,Eletrônicos,40.16,4.9,994
10,Produto 11,Roupas,440.79,3.1,746
11,Produto 12,Livros,496.39,2.9,441
12,Produto 13,Eletrônicos,428.83,4.6,519
13,Produto 14,Alimentos,480.42,4.6,471
14,Produto 15,Roupas,317.25,3.1,286
15,Produto 16,Eletrônicos,24.38,4.7,149

In [140]:
df_produtos.iloc[34:42]

,Nome do Produto,Categoria do Produto,Preço do Produto,Avaliação do Produto,Quantidade de Itens Vendidos
34,Produto 35,Alimentos,297.31,4.1,729
35,Produto 36,Roupas,117.09,1.7,736
36,Produto 37,Decoração,59.06,5.0,563
37,Produto 38,Alimentos,268.98,1.9,713
38,Produto 39,Roupas,307.89,4.4,283
39,Produto 40,Alimentos,112.19,1.1,44
40,Produto 41,Roupas,214.63,2.0,194
41,Produto 42,Roupas,416.05,3.8,512

In [141]:
df_produtos_por_nome = df_produtos.set_index('Nome do Produto')
display(df_produtos_por_nome)

,Categoria do Produto,Preço do Produto,Avaliação do Produto,Quantidade de Itens Vendidos
Nome do Produto,,,,
Produto 1,Roupas,72.33,2.7,150
Produto 2,Roupas,382.80,3.3,723
Produto 3,Roupas,60.88,2.6,700
Produto 4,Decoração,424.95,4.8,141
Produto 5,Decoração,118.87,2.8,515
Produto 6,Roupas,149.97,3.0,610
Produto 7,Roupas,394.77,2.3,832
Produto 8,Livros,387.14,4.0,780
Produto 9,Livros,389.41,2.9,610
Produto 10,Eletrônicos,40.16,4.9,994
Produto 11,Roupas,440.79,3.1,746
Produto 12,Livros,496.39,2.9,441
Produto 13,Eletrônicos,428.83,4.6,519
Produto 14,Alimentos,480.42,4.6,471
Produto 15,Roupas,317.25,3.1,286
Produto 16,Eletrônicos,24.38,4.7,149
Produto 17,Decoração,399.62,2.3,357
Produto 18,Roupas,40.70,1.4,320
Produto 19,Alimentos,420.89,1.6,871
Produto 20,Roupas,399.12,1.1,998
Produto 21,Alimentos,323.25,1.9,310
Produto 22,Livros,406.54,1.8,739
Produto 23,Roupas,120.37,3.5,13
Produto 24,Roupas,251.14,2.1,320
Produto 25,Roupas,457.12,3.9,455
Produto 26,Alimentos,131.83,1.3,241
Produto 27,Roupas,196.74,4.0,294
Produto 28,Alimentos,142.79,1.4,477
Produto 29,Roupas,362.59,1.5,41
Produto 30,Livros,167.06,1.1,852
Produto 31,Alimentos,222.68,1.4,448
Produto 32,Alimentos,373.19,1.1,805
Produto 33,Alimentos,100.61,4.8,732
Produto 34,Decoração,30.50,2.0,687
Produto 35,Alimentos,297.31,4.1,729
Produto 36,Roupas,117.09,1.7,736
Produto 37,Decoração,59.06,5.0,563
Produto 38,Alimentos,268.98,1.9,713
Produto 39,Roupas,307.89,4.4,283
Produto 40,Alimentos,112.19,1.1,44
Produto 41,Roupas,214.63,2.0,194
Produto 42,Roupas,416.05,3.8,512
Produto 43,Alimentos,75.73,3.1,381
Produto 44,Eletrônicos,349.60,3.4,856
Produto 45,Alimentos,270.45,3.0,306
Produto 46,Livros,433.07,3.6,621
Produto 47,Decoração,172.01,2.2,264
Produto 48,Roupas,216.37,1.4,957
Produto 49,Decoração,463.76,2.0,262
Produto 50,Eletrônicos,349.95,2.3,34

In [142]:
df_produtos_por_nome.loc["Produto 15"]

Categoria do Produto            Roupas
Preço do Produto                317.25
Avaliação do Produto               3.1
Quantidade de Itens Vendidos       286
Name: Produto 15, dtype: object

In [143]:
df_produtos_por_nome.loc["Produto 15":"Produto 35"]

,Categoria do Produto,Preço do Produto,Avaliação do Produto,Quantidade de Itens Vendidos
Nome do Produto,,,,
Produto 15,Roupas,317.25,3.1,286
Produto 16,Eletrônicos,24.38,4.7,149
Produto 17,Decoração,399.62,2.3,357
Produto 18,Roupas,40.70,1.4,320
Produto 19,Alimentos,420.89,1.6,871
Produto 20,Roupas,399.12,1.1,998
Produto 21,Alimentos,323.25,1.9,310
Produto 22,Livros,406.54,1.8,739
Produto 23,Roupas,120.37,3.5,13
Produto 24,Roupas,251.14,2.1,320
Produto 25,Roupas,457.12,3.9,455
Produto 26,Alimentos,131.83,1.3,241
Produto 27,Roupas,196.74,4.0,294
Produto 28,Alimentos,142.79,1.4,477
Produto 29,Roupas,362.59,1.5,41
Produto 30,Livros,167.06,1.1,852
Produto 31,Alimentos,222.68,1.4,448
Produto 32,Alimentos,373.19,1.1,805
Produto 33,Alimentos,100.61,4.8,732
Produto 34,Decoração,30.50,2.0,687
Produto 35,Alimentos,297.31,4.1,729

In [145]:
df_produtos_por_nome.loc["Produto 35", "Preço do Produto"]

np.float64(297.31)

In [147]:
df_produtos_por_nome.loc[["Produto 35", "Produto 47", "Produto 15"], ["Preço do Produto", "Quantidade de Itens Vendidos"]]

                 Preço do Produto  Quantidade de Itens Vendidos
Nome do Produto
Produto 35                 297.31                           729
Produto 47                 172.01                           264
Produto 15                 317.25                           286

In [150]:
eletronicos = df_produtos_por_nome[df_produtos_por_nome["Categoria do Produto"] == "Eletrônicos"]

In [151]:
df_produtos_por_nome.loc[eletronicos.index, ["Preço do Produto", "Quantidade de Itens Vendidos"]]

                 Preço do Produto  Quantidade de Itens Vendidos
Nome do Produto
Produto 10                  40.16                           994
Produto 13                 428.83                           519
Produto 16                  24.38                           149
Produto 44                 349.60                           856
Produto 50                 349.95                            34

In [159]:
roupas = df_produtos_por_nome[df_produtos_por_nome["Categoria do Produto"] == "Roupas"]
df_produtos_por_nome.loc[roupas.index, "Categoria do Produto"] = "Vestuário"

In [161]:
df_produtos_por_nome

,Categoria do Produto,Preço do Produto,Avaliação do Produto,Quantidade de Itens Vendidos,Categoria do Protudo
Nome do Produto,,,,,
Produto 1,Vestuário,72.33,2.7,150,Vestuário
Produto 2,Vestuário,382.80,3.3,723,Vestuário
Produto 3,Vestuário,60.88,2.6,700,Vestuário
Produto 4,Decoração,424.95,4.8,141,NaN
Produto 5,Decoração,118.87,2.8,515,NaN
Produto 6,Vestuário,149.97,3.0,610,Vestuário
Produto 7,Vestuário,394.77,2.3,832,Vestuário
Produto 8,Livros,387.14,4.0,780,NaN
Produto 9,Livros,389.41,2.9,610,NaN
Produto 10,Eletrônicos,40.16,4.9,994,NaN
Produto 11,Vestuário,440.79,3.1,746,Vestuário
Produto 12,Livros,496.39,2.9,441,NaN
Produto 13,Eletrônicos,428.83,4.6,519,NaN
Produto 14,Alimentos,480.42,4.6,471,NaN
Produto 15,Vestuário,317.25,3.1,286,Vestuário
Produto 16,Eletrônicos,24.38,4.7,149,NaN
Produto 17,Decoração,399.62,2.3,357,NaN
Produto 18,Vestuário,40.70,1.4,320,Vestuário
Produto 19,Alimentos,420.89,1.6,871,NaN
Produto 20,Vestuário,399.12,1.1,998,Vestuário
Produto 21,Alimentos,323.25,1.9,310,NaN
Produto 22,Livros,406.54,1.8,739,NaN
Produto 23,Vestuário,120.37,3.5,13,Vestuário
Produto 24,Vestuário,251.14,2.1,320,Vestuário
Produto 25,Vestuário,457.12,3.9,455,Vestuário
Produto 26,Alimentos,131.83,1.3,241,NaN
Produto 27,Vestuário,196.74,4.0,294,Vestuário
Produto 28,Alimentos,142.79,1.4,477,NaN
Produto 29,Vestuário,362.59,1.5,41,Vestuário
Produto 30,Livros,167.06,1.1,852,NaN
Produto 31,Alimentos,222.68,1.4,448,NaN
Produto 32,Alimentos,373.19,1.1,805,NaN
Produto 33,Alimentos,100.61,4.8,732,NaN
Produto 34,Decoração,30.50,2.0,687,NaN
Produto 35,Alimentos,297.31,4.1,729,NaN
Produto 36,Vestuário,117.09,1.7,736,Vestuário
Produto 37,Decoração,59.06,5.0,563,NaN
Produto 38,Alimentos,268.98,1.9,713,NaN
Produto 39,Vestuário,307.89,4.4,283,Vestuário
Produto 40,Alimentos,112.19,1.1,44,NaN
Produto 41,Vestuário,214.63,2.0,194,Vestuário
Produto 42,Vestuário,416.05,3.8,512,Vestuário
Produto 43,Alimentos,75.73,3.1,381,NaN
Produto 44,Eletrônicos,349.60,3.4,856,NaN
Produto 45,Alimentos,270.45,3.0,306,NaN
Produto 46,Livros,433.07,3.6,621,NaN
Produto 47,Decoração,172.01,2.2,264,NaN
Produto 48,Vestuário,216.37,1.4,957,Vestuário
Produto 49,Decoração,463.76,2.0,262,NaN
Produto 50,Eletrônicos,349.95,2.3,34,NaN

In [164]:
df_produtos_por_nome = df_produtos_por_nome.drop('Categoria do Protudo', axis=1)

KeyError: "['Categoria do Protudo'] not found in axis"

In [166]:
df_produtos_por_nome

,Categoria do Produto,Preço do Produto,Avaliação do Produto,Quantidade de Itens Vendidos
Nome do Produto,,,,
Produto 1,Vestuário,72.33,2.7,150
Produto 2,Vestuário,382.80,3.3,723
Produto 3,Vestuário,60.88,2.6,700
Produto 4,Decoração,424.95,4.8,141
Produto 5,Decoração,118.87,2.8,515
Produto 6,Vestuário,149.97,3.0,610
Produto 7,Vestuário,394.77,2.3,832
Produto 8,Livros,387.14,4.0,780
Produto 9,Livros,389.41,2.9,610
Produto 10,Eletrônicos,40.16,4.9,994
Produto 11,Vestuário,440.79,3.1,746
Produto 12,Livros,496.39,2.9,441
Produto 13,Eletrônicos,428.83,4.6,519
Produto 14,Alimentos,480.42,4.6,471
Produto 15,Vestuário,317.25,3.1,286
Produto 16,Eletrônicos,24.38,4.7,149
Produto 17,Decoração,399.62,2.3,357
Produto 18,Vestuário,40.70,1.4,320
Produto 19,Alimentos,420.89,1.6,871
Produto 20,Vestuário,399.12,1.1,998
Produto 21,Alimentos,323.25,1.9,310
Produto 22,Livros,406.54,1.8,739
Produto 23,Vestuário,120.37,3.5,13
Produto 24,Vestuário,251.14,2.1,320
Produto 25,Vestuário,457.12,3.9,455
Produto 26,Alimentos,131.83,1.3,241
Produto 27,Vestuário,196.74,4.0,294
Produto 28,Alimentos,142.79,1.4,477
Produto 29,Vestuário,362.59,1.5,41
Produto 30,Livros,167.06,1.1,852
Produto 31,Alimentos,222.68,1.4,448
Produto 32,Alimentos,373.19,1.1,805
Produto 33,Alimentos,100.61,4.8,732
Produto 34,Decoração,30.50,2.0,687
Produto 35,Alimentos,297.31,4.1,729
Produto 36,Vestuário,117.09,1.7,736
Produto 37,Decoração,59.06,5.0,563
Produto 38,Alimentos,268.98,1.9,713
Produto 39,Vestuário,307.89,4.4,283
Produto 40,Alimentos,112.19,1.1,44
Produto 41,Vestuário,214.63,2.0,194
Produto 42,Vestuário,416.05,3.8,512
Produto 43,Alimentos,75.73,3.1,381
Produto 44,Eletrônicos,349.60,3.4,856
Produto 45,Alimentos,270.45,3.0,306
Produto 46,Livros,433.07,3.6,621
Produto 47,Decoração,172.01,2.2,264
Produto 48,Vestuário,216.37,1.4,957
Produto 49,Decoração,463.76,2.0,262
Produto 50,Eletrônicos,349.95,2.3,34

In [168]:
df_produtos_por_nome['Categoria do Produto'].unique()

array(['Vestuário', 'Decoração', 'Livros', 'Eletrônicos', 'Alimentos'],
      dtype=object)

Desafio:
1. Carregar um arquivo .csv com feedbacks de clientes (reviews.csv).
2. Usar um LLM para classificar o sentimento de cada feedback (Positivo, Negativo, Neutro).
3. Adicionar uma nova coluna com essa classificacao ao DataFrame.

In [173]:
#Etapa 1:
df_reviews = pd.read_csv("/content/reviews.csv")

In [172]:
import os
print(os.listdir('/content/'))

['.config', 'reviews.csv', 'sample_data']

As pastas e arquivos listados acima são o que está atualmente no seu diretório `/content/`. Se você vir pastas indesejadas que não são do sistema, e *apenas* se tiver certeza de que não são importantes, você pode usar comandos de shell como `!rm -r nome_da_pasta` para removê-las, mas tenha *muito cuidado* para não apagar arquivos essenciais.

Agora, sobre o problema de carregar o arquivo, a maneira mais comum de fazer upload de arquivos no Colab é através da interface de usuário ou usando o seguinte código. Certifique-se de que o arquivo `reviews.csv` está sendo carregado corretamente para o diretório `/content/`:

**Opção 1: Upload via interface do Colab**
1. No painel esquerdo, clique no ícone de pasta para abrir o navegador de arquivos.
2. Clique no ícone de 'Upload' (uma seta apontando para cima).
3. Selecione o arquivo `reviews.csv` do seu computador.

**Opção 2: Upload via código Python**

In [171]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print(f'User uploaded file "{fn}" with length {len(uploaded[fn])} bytes')

# Após o upload, você pode verificar se o arquivo está na pasta /content/
print(os.listdir('/content/'))

# Agora, tente carregar o dataframe novamente:
df_reviews = pd.read_csv('/content/reviews.csv')
display(df_reviews.head())

Saving reviews.csv to reviews.csv
User uploaded file "reviews.csv" with length 21253 bytes
['.config', 'reviews.csv', 'sample_data']

,reviewerID,asin,reviewerName,reviewText,unixReviewTime,reviewTime,day_diff,helpful_yes,total_vote
0,A2FII3I2MBMUIA,B007WTAJTO,1K3,it works as expected. I should have sprung for...,1356220800,23/12/2012,715,0,0
1,A3H99DFEG68SR,B007WTAJTO,1m2,This think has worked out great.Had a diff. br...,1384992000,21/11/2013,382,0,0
2,A375ZM4U047O79,B007WTAJTO,2&amp;1/2Men,"Bought it with Retail Packaging, arrived legit...",1373673600,13/07/2013,513,0,0
3,A2IDCSC6NVONIZ,B007WTAJTO,2Cents!,It's mini storage. It doesn't do anything els...,1367193600,29/04/2013,588,0,0
4,A26YHXZD5UFPVQ,B007WTAJTO,2K1Toaster,I have it in my phone and it never skips a bea...,1382140800,19/10/2013,415,0,0

In [174]:
df_reviews.head()

,reviewerID,asin,reviewerName,reviewText,unixReviewTime,reviewTime,day_diff,helpful_yes,total_vote
0,A2FII3I2MBMUIA,B007WTAJTO,1K3,it works as expected. I should have sprung for...,1356220800,23/12/2012,715,0,0
1,A3H99DFEG68SR,B007WTAJTO,1m2,This think has worked out great.Had a diff. br...,1384992000,21/11/2013,382,0,0
2,A375ZM4U047O79,B007WTAJTO,2&amp;1/2Men,"Bought it with Retail Packaging, arrived legit...",1373673600,13/07/2013,513,0,0
3,A2IDCSC6NVONIZ,B007WTAJTO,2Cents!,It's mini storage. It doesn't do anything els...,1367193600,29/04/2013,588,0,0
4,A26YHXZD5UFPVQ,B007WTAJTO,2K1Toaster,I have it in my phone and it never skips a bea...,1382140800,19/10/2013,415,0,0

In [175]:
coluna_de_reviews = df_reviews["reviewText"]
coluna_de_reviews

0     it works as expected. I should have sprung for...
1     This think has worked out great.Had a diff. br...
2     Bought it with Retail Packaging, arrived legit...
3     It's mini storage.  It doesn't do anything els...
4     I have it in my phone and it never skips a bea...
5     It works, but file writes are a bit slower tha...
6     I bought 2 of those SanDisk 32 GB microSD , us...
7     The memory card is an excellent condition and ...
8     I bougth this micro SD card after some trubles...
9     Ordered this for a Galaxy S3.  Lasted a few mo...
10    more like 8mb/s in my Note 10.1 and that's usi...
11    I used this for a few months in my phone, then...
12    everything about it was great, except for the ...
13    Used in my phone it's plenty fast and works ju...
14    This card advertises itself as UHS1 but it's a...
15    I bought this SD card for my android phone thi...
16    good card. work as describes. haven't had any ...
17    I got this because I just couldn't pass up the...
18    It works but the actual R/W speeds are 18/8 MB...
19    Does it's job and fairly cheap for what it's w...
20    Still don't feel is very fast or is just my ph...
21    I bought 64GB version of the card to use with ...
22    I have an old SanDisk SD card that still works...
23    Used it in my Galaxy Note 2 for the past 16 mo...
24    Worked great in my galaxy s4--until it didn't ...
25    I bought this on August of 2013.  As of April ...
26    So this product is a large disappointment...bo...
27    I will keep it short and sweet for potential b...
28    The package arrived on time, it's very well pa...
29    Does what it says. Hasn't broken yet, and I ho...
30    Thus microSD card worked fine for a year in my...
31    I think this is probably a fine product, but i...
32    I have two of these and use them for my Galazy...
33    I join the long list of customers who have had...
34    I do not get the advertised speed of 30MB/s, m...
35    the micro sd works great as described. but bew...
36    than i expected. I don't know if it would kill...
37    Reliable and inexpensive. However, it's quite ...
38    I bought this primarily to use in my Surface P...
39    I really don't know what to think about this I...
Name: reviewText, dtype: object

In [180]:
#Etapa 2:

lista_de_analises_de_sentimentos = []

for review_numero, resenha in enumerate(coluna_de_reviews):
  resposta = client.models.generate_content(
      model = "gemini-2.5-flash",
      contents = f"""Voce irá analisar a resenha que eu te mandarei abaixo, e retornar
      com uma análise de sentimento. Voce deve responder apenas com uma das seguintes
      palavras: 'Positivo', 'Negativo' ou 'Neutro', indicando o sentimento da resenha.

      Exemplo:
      'Eu adorei esse produto' -> 'Positivo'
      'Esse produto é horrível' -> 'Negativo'
      'O preço é justo', 'satisfaz o proposto' -> 'Neutro'


      Resenha: {resenha}"""
      )
  lista_de_analises_de_sentimentos.append(resposta.text)
  print(f"Resenha {review_numero}: '{resenha}' -> Sentimento: {resposta.text}")

Resenha 0: 'it works as expected. I should have sprung for the higher capacity.  I think its made a bit cheesier than the earlier versions; the paint looks not as clean as before' -> Sentimento: Negativo
Resenha 1: 'This think has worked out great.Had a diff. bran 64gb card and if went south after 3 months.This one has held up pretty well since I had my S3, now on my Note3.*** update 3/21/14I've had this for a few months and have had ZERO issue's since it was transferred from my S3 to my Note3 and into a note2. This card is reliable and solid!Cheers!' -> Sentimento: Positivo
Resenha 2: 'Bought it with Retail Packaging, arrived legit, in a orange envelope, english version not asian like the picture shows. arrived quickly, bought a 32 and 16 both retail packaging for my htc one sv and Lg Optimus, both cards in working order, probably best price you'll get for a nice sd card' -> Sentimento: Positivo
Resenha 3: 'It's mini storage.  It doesn't do anything else and it's not supposed to.  I purchased it to add additional storage to my Microsoft Surface Pro tablet which only come in 64 and 128 GB.  It does what it's supposed to and SanDisk has a long standing reputation that speaks for itself.' -> Sentimento: Positivo
Resenha 4: 'I have it in my phone and it never skips a beat. File transfers are speedy and have not had any corruption issues or memory fade issues as I would expect from the Sandisk brand. Great card to own. Why entrust your precious files to a slightly cheaper piece of crap? If you lose everything can you forgive yourself for not spending the extra couple bucks on a trusted product that goes through good QA?' -> Sentimento: Positivo
Resenha 5: 'It works, but file writes are a bit slower than expected on a USB3 reader.Also, both reads and writes are FASTER with the card inside the standard-size SD adapter (15 MB/s vs 10 write; 45 MB/s vs 22 MB/s read) on the same card reader.  Can't figure why...' -> Sentimento: Negativo

ClientError: 429 RESOURCE_EXHAUSTED. {'error': {'code': 429, 'message': 'You exceeded your current quota, please check your plan and billing details. For more information on this error, head to: https://ai.google.dev/gemini-api/docs/rate-limits. To monitor your current usage, head to: https://ai.dev/rate-limit. \n* Quota exceeded for metric: generativelanguage.googleapis.com/generate_content_free_tier_requests, limit: 5, model: gemini-2.5-flash\nPlease retry in 44.042889679s.', 'status': 'RESOURCE_EXHAUSTED', 'details': [{'@type': 'type.googleapis.com/google.rpc.Help', 'links': [{'description': 'Learn more about Gemini API quotas', 'url': 'https://ai.google.dev/gemini-api/docs/rate-limits'}]}, {'@type': 'type.googleapis.com/google.rpc.QuotaFailure', 'violations': [{'quotaMetric': 'generativelanguage.googleapis.com/generate_content_free_tier_requests', 'quotaId': 'GenerateRequestsPerMinutePerProjectPerModel-FreeTier', 'quotaDimensions': {'location': 'global', 'model': 'gemini-2.5-flash'}, 'quotaValue': '5'}]}, {'@type': 'type.googleapis.com/google.rpc.RetryInfo', 'retryDelay': '44s'}]}}

In [181]:
lista_de_analises_de_sentimentos

['Negativo', 'Positivo', 'Positivo', 'Positivo', 'Positivo', 'Negativo']

In [182]:
#Etapa 3
df_reviews["Analises de Sentimentos"] = lista_de_analises_de_sentimentos

ValueError: Length of values (6) does not match length of index (40)

Obs: meu codigo está correto. Nao executou porque minha API tem restrição de tempo no plano gratuito.